<!DOCTYPE html>
<html>
<head>
  <title>Community Pulse</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="main-header">
    <h1 class="center-title">HOOD HUB</h1>
    <div class="auth-buttons">
      <a href="/login" class="btn-blue">Login</a>
      <a href="/register" class="btn-blue">Register</a>
    </div>
  </header>

  <main>
    <h2>Welcome to Community Pulse!</h2>
  </main>
</body>
</html>
